<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="shortcut icon"
      href="../images/twitter.svg"
      type="image/x-icon"
    />
    <title>Homepage</title>
  </head>

  <body>
    <div class="container-home">
      <div class="icons-start">
        <p class="logo-ic">
          <img src="../images/twitter.svg" alt="" srcset="" />
        </p>
        <p>
          <img src="../images/home.svg" alt="" srcset="" />
        </p>
        <p>
          <img src="../images/notification.svg" alt="" srcset="" />
        </p>
        <p>
          <img src="../images/message.svg" alt="" srcset="" />
        </p>
        <p>
          <img class="user" src="../images/userlogo.png" alt="" srcset="" />
        </p>
        <p>
          <img src="../images/more.svg" alt="" srcset="" />
        </p>
        <p>
          <img
            style="height: 10vh; margin-left: -15px"
            src="../images/t26_c6_a4_p2.png"
            alt=""
            srcset=""
          />
        </p>
      </div>
      <div class="twi">
        <h2>Home</h2>

        <div class="twi-top">
          <img src="../images/userlogo.png" alt="" srcset="" />

          <div class="input-item">
            <input type="text" placeholder="Whats happening?" />

            <div class="btn-top">
              <button>Tweet</button>
            </div>
          </div>
          <!-- <div class="icons-across"></div> -->
        </div>
        <div class="twi-middle">
          <!-- start here -->
          <div class="page-content">
            <div class="profile-item">
              <img src="../images/twitter.svg" alt="" srcset="" />
              <div class="profile-icons">
                <div>...</div>
                <div>
                  <button>follow</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end here -->
          <div class="page-content">
            <h4>Troll football</h4>
            <span>@Troll football</span>

            <div class="profile-info">
              <h5 style="margin-top: 10px">PARODI ACCOUNT</h5>
              <div class="text-info">
                <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                  alias facilis porro voluptas quaerat aperiam aliquid, animi
                  reprehenderit. Tempore, mollitia.
                  <img src="../images/date.svg" alt="" srcset="" />
                  <span> joined</span>

                 <p>
                      <span> 758 </span>following

           
                  <span>1.8m</span> followers
                 </p>
                </div>
              </div>
              <!-- <div class="info">
                <p class="joined"></p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="content-end">
        <input type="text" placeholder="search twitter" />

        <div class="trends">
          <div class="stack-grid">
            <img src="../images/FT4GcTTUcAwcKbA.jpg" alt="" srcset="" />
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />

            <img src="../images/FT4GcTTUcAwcKbA.jpg" alt="" srcset="" />
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <img src="../images/FT4GcTTUcAwcKbA.jpg" alt="" srcset="" />
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <img src="../images/FT4GcTTUcAwcKbA.jpg" alt="" srcset="" />

            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <img src="../images/FT4GcTTUcAwcKbA.jpg" alt="" srcset="" />
          </div>
        </div>
        <div class="follow-end">
          <h3>You might like</h3>

          <div class="follow">
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <div class="follow-item">
              <p>Liverpool Fc</p>
              <span>@Lfc</span>
            </div>

            <div class="follow-btn">
              <button>follow</button>
            </div>
          </div>
          <div class="follow">
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <div class="follow-item">
              <p>Liverpool Fc</p>
              <span>@Lfc</span>
            </div>

            <div class="follow-btn">
              <button>follow</button>
            </div>
          </div>
          <div class="follow">
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <div class="follow-item">
              <p>Liverpool Fc</p>
              <span>@Lfc</span>
            </div>

            <div class="follow-btn">
              <button>follow</button>
            </div>
          </div>
          <div class="follow">
            <img src="../images/LOGO-TWI.jpg" alt="" srcset="" />
            <div class="follow-item">
              <p>Liverpool Fc</p>
              <span>@Lfc</span>
            </div>

            <div class="follow-btn">
              <button>follow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
